<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartFarm.was.web.repository.BoardRepository">

    <select id="getAllNotice" resultType="com.smartFarm.was.domain.dto.response.boardsDto">
        SELECT
            board_title,
            board_created,
            board_view,
            member_name
        FROM board
                 INNER JOIN member
                        ON board.member_id = member.member_id
        WHERE category_id = 1
        ORDER BY board_created DESC
    </select>

    <select id="getAllFAQ" resultType="com.smartFarm.was.domain.dto.response.boardsDto">
        SELECT
            board_title,
            board_created,
            board_view,
            member_name
        FROM board
                 INNER JOIN member
                            ON board.member_id = member.member_id
        WHERE category_id = 2
        ORDER BY board_created DESC
    </select>

    <insert id="add" parameterType="com.smartFarm.was.domain.model.Board">
        INSERT INTO board
            (
             member_id,
             category_id,
             board_title,
             board_content,
             board_created,
             board_view,
             board_secret,
             board_status
            ) VALUES (
                      #{memberId},
                      #{categoryId},
                      #{boardTitle},
                      #{boardContent},
                      #{boardCreated},
                      #{boardView},
                      #{boardSecret},
                      #{boardStatus}
                    )
    </insert>
</mapper>