<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartFarm.was.web.repository.BoardRepository">

    <select id="findAllNotice" resultType="com.smartFarm.was.domain.dto.response.board.BoardsDto">
        SELECT
            board_title,
            board_created,
            board_view,
            member_name
        FROM board
                 INNER JOIN member
                        ON board.member_id = member.member_id
        WHERE category_id = 1 AND board_status = 'public'
        ORDER BY board_created DESC
    </select>

    <select id="findAllFAQ" resultType="com.smartFarm.was.domain.dto.response.board.BoardsDto">
        SELECT
            board_title,
            board_created,
            board_view,
            member_name
        FROM board
                 INNER JOIN member
                            ON board.member_id = member.member_id
        WHERE category_id = 2 AND board_status = 'public'
        ORDER BY board_created DESC
    </select>

    <insert id="add" parameterType="com.smartFarm.was.domain.model.Board">
        INSERT INTO board
            (
             member_id,
             category_id,
             board_title,
             board_content,
             board_created,
             board_view,
             board_status
            ) VALUES (
                      #{memberId},
                      #{categoryId},
                      #{boardTitle},
                      #{boardContent},
                      #{boardCreated},
                      #{boardView},
                      #{boardStatus}
                    )
    </insert>

    <select id="findByIdDetail" parameterType="long" resultType="com.smartFarm.was.domain.dto.response.board.BoardDetailDto">
        SELECT
            board_title,
            board_content,
            board_created,
            board_last_updated,
            board_status,
            board_view,
            board.member_id,
            member_name,
            category_value
        FROM board
                 INNER JOIN member
                            ON board.member_id = member.member_id
                 INNER JOIN board_category
                            ON board.category_id = board_category.category_id
        WHERE board_id = #{boardId}
        LIMIT 1;
    </select>
    
    <delete id="deleteByIds" parameterType="long">
        DELETE
        FROM
             board
        WHERE
              board_id = #{boardId} AND member_id = #{memberId}
    </delete>

    <update id="updateByUpdateForm" parameterType="com.smartFarm.was.domain.dto.request.board.UpdateBoardForm">
        UPDATE
            board
        SET
            category_id = #{categoryId},
            board_title = #{boardTitle},
            board_content = #{boardContent},
            board_status = #{boardStatus},
            board_last_updated = #{boardLastUpdated}
        WHERE
            board_id = #{boardId} AND member_id = #{memberId}
        <selectKey keyColumn="board_id" resultType="com.smartFarm.was.domain.dto.response.board.BoardDetailDto">
            SELECT
                board_title,
                board_content,
                board_created,
                board_last_updated,
                board_status,
                board_view,
                board.member_id,
                member_name,
                category_value
            FROM board
                INNER JOIN member
                    ON board.member_id = member.member_id
                INNER JOIN board_category
                    ON board.category_id = board_category.category_id
        </selectKey>
    </update>
</mapper>