<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartFarm.was.web.repository.CommentRepository">

    <select id="getCommentList" parameterType="com.smartFarm.was.domain.dto.comment.GetCommentDto" resultType="com.smartFarm.was.domain.dto.comment.CommentDto">
        SELECT
        comment_id,
        comment.member_id,
        member.member_name,
        comment_content,
        comment_status,
        comment_created,
        comment_last_updated
        FROM comment
        LEFT JOIN member
        ON comment.member_id = member.member_id
        WHERE state_del = 'N'
        <if test="memberId != null and memberId != ''">
            AND comment.member_id = #{memberId}
        </if>
        <if test="boardId != null and boardId != ''">
            AND board_id = #{boardId}
        </if>
        <if test="commentId != null and commentId != ''">
            AND comment_id = #{commentId}
        </if>
    </select>

    <insert id="addComment" parameterType="com.smartFarm.was.domain.dto.comment.AddCommentDto">
        INSERT INTO comment (
                            board_id,
                            member_id,
                            comment_content,
                            comment_status,
                            comment_created
                            )
        VALUES (
                #{boardId},
                #{memberId},
                #{commentContent},
                #{commentStatus},
                #{commentCreated}
                )
    </insert>

    <update id="updateComment" parameterType="com.smartFarm.was.domain.dto.comment.UpdateCommentDto">
        UPDATE
            comment
        SET
            comment_content = #{commentContent},
            comment_status = #{commentStatus},
            comment_last_updated = #{commentLastUpdated}
        WHERE
            comment_id = #{commentId}
        <if test="memberId != null and memberId != ''">
            AND comment.member_id = #{memberId}
        </if>
        <if test="boardId != null and boardId != ''">
            AND board_id = #{boardId}
        </if>
    </update>

    <update id="deleteComment" parameterType="com.smartFarm.was.domain.dto.comment.DeleteCommentDto">
        UPDATE
            comment
        SET
            comment_status = #{commentStatus},
            comment_last_updated = #{commentLastUpdated}
        WHERE
        comment_id = #{commentId}
        <if test="memberId != null and memberId != ''">
            AND comment.member_id = #{memberId}
        </if>
        <if test="boardId != null and boardId != ''">
            AND board_id = #{boardId}
        </if>
    </update>
</mapper>

<!--<selectKey keyProperty="commentId,boardId,memberId,memberName,commentContent,commentCreated,commentLastUpdated,commentStatus" order="AFTER" resultType="com.smartFarm.was.domain.dto.comment.AddCommentDto">-->
<!--SELECT-->
<!--comment_id,-->
<!--board_id,-->
<!--comment.member_id,-->
<!--member_name,-->
<!--comment_content,-->
<!--comment_created,-->
<!--comment_last_updated,-->
<!--comment_status-->
<!--FROM comment-->
<!--LEFT JOIN member-->
<!--ON member.member_id = comment.member_id-->
<!--WHERE-->
<!--board_id = #{boardId}-->
<!--AND comment.member_id = #{memberId}-->
<!--AND comment_created = #{commentCreated}-->

<!--</selectKey>-->