<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartFarm.was.web.repository.FarmRepository">

    <select id="getFarmList" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto" resultType="com.smartFarm.was.domain.dto.farm.FarmDto">
        SELECT
        f.farm_id
        f.farm_address
        f.farm_created
        f.farm_name
        f.farm_kind
        f.farm_status,
        f.farm_type,
        f.state_del as farmStateDel,
        fm.fm_status,
        fm.fm_authority,
        m.member_authority,
        m.member_name,
        m.member_email,
        m.member_phone,
        m.member_birthday,
        m.member_last_updated,
        m.state_del as memberStateDel
        FROM member_farm fm
        LEFT JOIN farm f ON fm.fm_farm_id = f.farm_id
        LEFT JOIN member m ON fm.fm_member_id = m.member_id
        WHERE f.state_del = 'N' AND fm.state_del = 'N'
        <if test="fmMemberId != null and fmMemberId > 0">
            AND fm.fm_member_id = #{fmMemberId}
        </if>
        <if test="fmStatus != null and fmStatus != ''">
            AND fm.fm_status = #{fmStatus}
        </if>
        <if test="fmAuthority != null and fmAuthority != ''">
            AND fm.fm_authority = #{fmAuthority}
        </if>
        <if test="farmName != null and farmName != ''">
            AND f.farm_name = #{farmName}
        </if>
        <if test="farmKind != null and farmKind != ''">
            AND f.farm_kind = #{farmKind}
        </if>
        <if test="farmType != null and farmType != ''">
            AND f.farm_type = #{farmType}
        </if>
        <if test="farmAddress != null and farmAddress != ''">
            AND f.farm_address = #{farmAddress}
        </if>
        <if test="memberName != null and memberName != ''">
            AND m.member_name = #{memberName}
        </if>
        <if test="keyword != null and keyword != ''">
            AND
              (f.farm_name LIKE CONCAT('%', #{keyword}, '%')
                   OR f.farm_address LIKE CONCAT('%', #{keyword}, '%')
                   OR f.farm_type LIKE CONCAT('%', #{keyword}, '%')
                    OR f.farm_kind LIKE CONCAT('%', #{keyword}, '%')
                    OR m.member_name LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <select id="getFarmById" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto" resultType="com.smartFarm.was.domain.dto.farm.FarmDto">
        SELECT
        f.farm_id
        f.farm_type,
        f.farm_address
        f.farm_created
        f.farm_name
        f.farm_kind
        f.farm_status,
        f.state_del as farmStateDel,
        m.member_authority,
        m.member_name,
        m.member_email,
        m.member_phone,
        m.member_birthday,
        m.member_last_updated,
        m.state_del as memberStateDel
        FROM member_farm fm
        LEFT JOIN farm f ON fm.fm_farm_id = f.farm_id
        LEFT JOIN member m ON fm.fm_member_id = m.member_id
        WHERE f.state_del = 'N' AND f.state_del = 'N' AND m.state_del = 'N'
        <if test="fmMemberId != null and fmMemberId > 0">
            AND fm.fm_member_id = #{fmMemberId}
        </if>
        <if test="fmFarmId != null and fmFarmId > 0">
            AND fm.fm_farm_id = #{fmFarmId}
        </if>
    </select>

    <insert id="addFarmMapping" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        INSERT INTO member_farm (
            fm_member_id,
            fm_farm_id,
            fm_created,
            fm_authority,
            fm_status,
            state_del
        ) VALUES (
                #{fmMemberId},
                #{fmFarmId},
                #{fmCreated},
                #{fmAuthority},
                #{fmStatus},
                #{fmStateDel}
               )
    </insert>

    <insert id="addFarm" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        INSERT INTO farm (
            farm_type,
            farm_name,
            farm_address,
            state_del,
            farm_kind,
            farm_created
        )
        VALUES (
            #{farmType},
            #{farmName},
            #{farmAddress},
            #{farmStateDel},
            #{farmKind},
            #{farmCreated}
               )
    </insert>

    <update id="updateFarmMapping" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        UPDATE member_farm SET
            <if test="fmMemberId != null and fmMemberId > 0">
                fm_member_id = #{fmMemberId}
            </if>
            <if test="fmFarmId != null and fmFarmId > 0">
                farm_id = #{fmFarmId}
            </if>
            fm_created = #{fmCreated},
            fm_authority = #{fmAuthority},
            fm_status = #{fmStatus}
            WHERE state_del = 'N'
                AND member_id = #{fmMemberId}
                AND farm_id = #{fmFarmId}
    </update>

    <update id="updateFarm" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        UPDATE
        farm
        SET
            farm_type = #{farmType},
            farm_name = #{farmName},
            farm_address = #{farmAddress},
            farm_kind = #{farmKind},
        WHERE state_del = 'N'
        AND farm_id = #{farmId}
    </update>

    <update id="deleteFarmMapping" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        UPDATE member_farm SET
        state_del = #{fmStateDel}
        WHERE state_del = 'N'
        <if test="fmMemberId != null and fmMemberId > 0">
            AND fm_member_id = #{fmMemberId}
        </if>
        <if test="fmFarmId != null and fmFarmId > 0">
            AND fm_farm_id = #{fmFarmId}
        </if>
    </update>

    <update id="deleteFarm" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        UPDATE
            farm
        SET
            state_del = #{farmStateDel}
            WHERE
            state_del = 'N'
            <if test="fmFarmId != null and fmFarmId > 0">
                AND farm_id = #{fmFarmId}
            </if>
    </update>
</mapper>

