<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartFarm.was.web.repository.FarmRepository">

    <select id="getFarmList" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto" resultType="com.smartFarm.was.domain.dto.farm.FarmDto">
        SELECT
        f.farm_id
        f.farm_address
        f.farm_created
        f.farm_name
        f.farm_kind
        f.farm_status,
        f.farm_type,
        f.state_del,
        fm.fm_status,
        fm.fm_authority,
        m.member_authority,
        m.member_name,
        m.member_email,
        m.member_phone,
        m.member_birthday,
        m.member_last_updated,
        m.state_del
        FROM member_farm fm
        LEFT JOIN farm f ON fm.farm_id = f.farm_id
        LEFT JOIN member m ON fm.member_id = m.member_id
        WHERE f.state_del = 'N' AND fm.state_del = 'N'
        <if test="fmMemberId != null and fmMemberId > 0">
            AND fm.member_id = #{fmMemberId}
        </if>
        <if test="fmStatus != null and fmStatus != ''">
            AND fm.fm_status = #{fmStatus}
        </if>
        <if test="fmAuthority != null and fmAuthority != ''">
            AND fm.fm_authority = #{fmAuthority}
        </if>
        <if test="fFarmName != null and fFarmName != ''">
            AND f.farm_name = #{fFarmName}
        </if>
        <if test="fFarmKind != null and fFarmKind != ''">
            AND f.farm_kind = #{fFarmKind}
        </if>
        <if test="fFarmType != null and fFarmType != ''">
            AND f.farm_type = #{fFarmType}
        </if>
        <if test="fFarmAddress != null and fFarmAddress != ''">
            AND f.farm_address = #{fFarmAddress}
        </if>
        <if test="mMemberName != null and mMemberName != ''">
            AND m.member_name = #{mMemberName}
        </if>
        <if test="keyword != null and keyword != ''">
            AND
              (f.farm_name LIKE CONCAT('%', #{keyword}, '%')
                   OR f.farm_address LIKE CONCAT('%', #{keyword}, '%')
                   OR f.farm_type LIKE CONCAT('%', #{keyword}, '%')
                    OR f.farm_kind LIKE CONCAT('%', #{keyword}, '%')
                    OR m.member_name LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <select id="getFarmById" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto" resultType="com.smartFarm.was.domain.dto.farm.FarmDto">
        SELECT
        f.farm_id
        f.farm_type,
        f.farm_address
        f.farm_created
        f.farm_name
        f.farm_kind
        f.farm_status,
        f.state_del,
        m.member_authority,
        m.member_name,
        m.member_email,
        m.member_phone,
        m.member_birthday,
        m.member_last_updated,
        m.state_del
        FROM member_farm fm
        LEFT JOIN farm f ON fm.farm_id = f.farm_id
        LEFT JOIN member m ON fm.member_id = m.member_id
        WHERE f.state_del = 'N' AND f.state_del = 'N' AND m.state_del = 'N'
        <if test="fmMemberId != null and fmMemberId > 0">
            AND fm.member_id = #{fmMemberId}
        </if>
        <if test="fmFarmId != null and fmFarmId > 0">
            AND fm.farm_id = #{fmFarmId}
        </if>
    </select>




    <insert id="addFarmMapping" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        INSERT INTO member_farm (
            member_id,
            farm_id,
            fm_created,
            fm_authority,
            fm_status,
            state_del
        )
        VALUES (
                   #{fmMemberId},
                   #{fmFarmId},
                   #{fmCreated},
                   #{fmAuthority},
                   #{fmStatus},
                   #{fmStateDel}
               )
    </insert>

    <insert id="addFarm" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        INSERT INTO farm (
            farm_type,
            farm_name,
            farm_address,
            state_del,
            farm_kind,
            farm_created
        )
        VALUES (
            #{fFarm_type},
            #{fFarmName},
            #{fFarmAddress},
            #{fState_del},
            #{fFarm_kind},
            #{fFarmCreated}
               )
    </insert>

    <update id="updateFarmMapping" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        UPDATE member_farm SET
            <if test="fmMemberId != null and fmMemberId > 0">
                member_id = #{fmMemberId}
            </if>
            <if test="fmFarmId != null and fmFarmId > 0">
                farm_id = #{fmFarmId}
            </if>
            fm_created = #{fmCreated},
            fm_authority = #{fmAuthority},
            fm_status = #{fmStatus}
            WHERE state_del = 'N'
            <if test="fmMemberId != null and fmMemberId > 0">
                AND member_id = #{fmMemberId}
            </if>
            <if test="fmFarmId != null and fmFarmId > 0">
                AND farm_id = #{fmFarmId}
            </if>
    </update>

    <update id="updateFarm" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        UPDATE
        farm
        SET
            farm_type = #{fFarmType},
            farm_name = #{fFarmName},
            farm_address = #{fFarmAddress},
            farm_kind = #{fFarmKind},
        WHERE
        state_del = 'N'
        AND farm_id = '#{fFarmId}'
    </update>

    <update id="deleteFarmMapping" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        UPDATE member_farm SET
        state_del = #{mfStateDel}
        WHERE state_del = 'N'
        <if test="fmMemberId != null and fmMemberId > 0">
            AND member_id = #{fmMemberId}
        </if>
        <if test="fmFarmId != null and fmFarmId > 0">
            AND farm_id = #{fmFarmId}
        </if>
    </update>

    <update id="deleteFarm" parameterType="com.smartFarm.was.domain.dto.farm.FarmDto">
        UPDATE
            farm
        SET
            state_del = #{fStateDel}
            WHERE
            state_del = 'N'
            <if test="fmFarmId != null and fmFarmId > 0">
                AND farm_id = #{fmFarmId}
            </if>
    </update>
</mapper>

