<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartFarm.was.repository.MemberRepository">

    <insert id="addMember" parameterType="com.smartFarm.was.dto.JoinDTO">
        INSERT INTO TEST (name, password) VALUES (#{name}, #{password})
    </insert>
</mapper>