<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartFarm.was.web.repository.MemberRepository">

    <insert id="addMember" parameterType="com.smartFarm.was.domain.entity.Member">
        INSERT INTO MEMBER (member_authority,
                            member_name,
                            member_email,
                            member_phone,
                            member_birthday,
                            member_password,
                            member_address,
                            member_created,
                            member_last_updated,
                            member_last_accessed,
                            state_del)
                            VALUES (#{memberAuthority},
                                    #{memberName},
                                    #{memberEmail},
                                    #{memberPhone},
                                    #{memberBirthday},
                                    #{memberPassword},
                                    #{memberAddress},
                                    #{memberCreated},
                                    #{memberLastUpdated},
                                    #{memberLastAccessed},
                                    #{stateDel})
    </insert>

    <select id="findByEmail" parameterType="String" resultType="com.smartFarm.was.domain.entity.Member">
        SELECT * FROM MEMBER
        WHERE member_email = #{memberEmail}
        AND state_del = 'N'
    </select>
</mapper>