<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartFarm.was.domain.repository.TokenRepository">
    <insert id="save" parameterType="com.smartFarm.was.domain.model.Token">
        INSERT INTO token_storage
        (
            member_id,
            access_token_value,
            access_token_created,
            access_token_destroyed
        ) VALUES (
            #{memberId},
            #{accessTokenValue},
            #{accessTokenCreated},
            #{accessTokenDestroyed}
        )
    </insert>
</mapper>
